name: Update GitHub Activity

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: JamesIves/github-activity-readme@v0.3.3
        with:
          COMMIT_MSG: "Update recent activity"
          MAX_LINES: 5
